<div class="jumbtron">
    <h1 class="display-4 text-center">Productos Ley</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">
                Agregar Producto
            </h6>
            <app-producto-ley></app-producto-ley>
        </div>
        <div class="col-md-7">
            <h6 class="text-center">
                Listado Productos
            </h6>
            <app-list-producto-ley></app-list-producto-ley>
        </div>
    </div>
</div>