<form [formGroup]="form" (ngSubmit)="guardarproducto()">
    <div class="form-group">
        <div class="input-group mb-3">
            <span class="input-group-text">
                <i class="bi bi-pencil-square"></i>
            </span>
            <input type="text" maxlength="50" class="form-control" formControlName="nombre" placeholder="Nombre"
                onkeydown="return /[a-z, ]/i.test(event.key)">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group mb-3">
            <span class="input-group-text">
                <i class="bi bi-journal-text"></i>
            </span>
            <input type="text" maxlength="100" class="form-control" formControlName="descripcion" placeholder="Descripcion"
                onkeydown="return /[a-z, ]/i.test(event.key)">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group mb-3">
            <span class="input-group-text">
                <i class="bi bi-currency-dollar"></i>
            </span>
            <input type="text" maxlength="9" class="form-control" formControlName="precio" placeholder="Precio"
                onkeypress="if(event.keyCode < 46 || event.keyCode > 57 || event.keyCode == 47) event.returnValue = false;">
        </div>
    </div>
    <div class="form-group" *ngIf="!mostrardiv">
        <div class="input-group mb-3">
            <span class="input-group-text">
                <i class="bi bi-box-seam"></i>
            </span>
            <input type="text"  maxlength="9" class="form-control" formControlName="existencia" placeholder="Existencia"   [(ngModel)]="numeroCampo" (keypress)="soloNumeros($event)">
        </div>
    </div>
    <div class="form-group" *ngIf="mostrardiv" style="border: 1px solid #5bd391;">
        <p>*Nota: la cantidad se sumara a la existencia</p>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <i class="bi bi-plus-square"></i>
            </span>
            <input type="number" min="1" max="100" step="1" class="form-control" formControlName="sumaStock"
                placeholder="Agregar a la existencia">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group mb-3">
            <span class="input-group-text">
                <i class="bi bi-list-ol"></i>
            </span>
            <select class="form-select" formControlName="tipoproducto" placeholder="Tipo Producto">
                <option value="" disabled selected>Selecciona un tipo producto</option>
                <option *ngFor="let item of productoService.listtipo" [value]="item.id">{{ item.nombreTipoProducto }}
                </option>
            </select>
        </div>
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-success" [disabled]="form.invalid" type="submit"><i
                class="bi bi-database-add"></i>&nbsp;Agregar/Actualizar</button>
    </div>
</form>