USE [master]
GO
/****** Object:  Database [pruebatecnica]    Script Date: 27/10/2023 12:58:32 p. m. ******/
CREATE DATABASE [pruebatecnica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pruebatecnica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\pruebatecnica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pruebatecnica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\pruebatecnica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pruebatecnica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pruebatecnica]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27/10/2023 12:58:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 27/10/2023 12:58:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [varchar](50) NOT NULL,
	[DescripcionProducto] [varchar](200) NOT NULL,
	[Precio] [decimal](18, 4) NOT NULL,
	[Existencia] [int] NOT NULL,
	[TipoProducto_Id] [int] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaEliminado] [datetime] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposProductos]    Script Date: 27/10/2023 12:58:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposProductos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombreTipoProducto] [varchar](50) NULL,
	[descripcionTipoProducto] [varchar](200) NULL,
	[FechaRegistro] [datetime] NULL,
	[FechaEliminado] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231025035748_Inicial', N'3.1.15')
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([Id], [NombreProducto], [DescripcionProducto], [Precio], [Existencia], [TipoProducto_Id], [FechaRegistro], [FechaEliminado]) VALUES (28, N'pollo', N'bachoco', CAST(50.0000 AS Decimal(18, 4)), 104, 3, CAST(N'2023-10-27T00:00:00.000' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Producto] ([Id], [NombreProducto], [DescripcionProducto], [Precio], [Existencia], [TipoProducto_Id], [FechaRegistro], [FechaEliminado]) VALUES (30, N'costillas', N'de puerco', CAST(64.5000 AS Decimal(18, 4)), 50, 3, CAST(N'2023-10-26T00:00:00.000' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Producto] ([Id], [NombreProducto], [DescripcionProducto], [Precio], [Existencia], [TipoProducto_Id], [FechaRegistro], [FechaEliminado]) VALUES (31, N'chile', N'serrano', CAST(5.0000 AS Decimal(18, 4)), 17, 1, CAST(N'2023-10-27T00:00:00.000' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposProductos] ON 

INSERT [dbo].[TiposProductos] ([Id], [nombreTipoProducto], [descripcionTipoProducto], [FechaRegistro], [FechaEliminado]) VALUES (1, N'Frutas y verduras', N'frutas y verduras', CAST(N'2023-10-26T13:58:16.663' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[TiposProductos] ([Id], [nombreTipoProducto], [descripcionTipoProducto], [FechaRegistro], [FechaEliminado]) VALUES (2, N'Lacteos', N'alimentos tipos lacteos', CAST(N'2023-10-26T13:58:16.670' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[TiposProductos] ([Id], [nombreTipoProducto], [descripcionTipoProducto], [FechaRegistro], [FechaEliminado]) VALUES (3, N'Carnes', N'todas las carnes', CAST(N'2023-10-26T13:58:16.670' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TiposProductos] OFF
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_TipoProducto] FOREIGN KEY([TipoProducto_Id])
REFERENCES [dbo].[TiposProductos] ([Id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_TipoProducto]
GO
USE [master]
GO
